:root
{
  --darkgreen: #008900;
  --green: #00C017;
  --skyblue: #00C5FB;
  --lime: #00FF00;
  --darkblue: #044E7E;
  --navtext: #111111;
  --darkbar: #1A1A1A;
  --background: #1E1E1E;
  --red: #920017;
  --hyper: #DC143C;
  --text: #DDDDDD;
  --heading: #FFFFFF;
  --cancel: #E61919;
  --orangered: #F05500;
  --magenta: #FF00FD;
  --orange: #FF9A00;
  --yellow: #FFE000;  
  --button-width: 100px;
  --line-height: 2.2;
}

body
{
  font-family: 'Bloomberg Fixed Unicode B', monospace;
  font-size: small;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  line-height: 1.6;
}

section
{
  padding: 0 6px;
}

section#console
{
  position: fixed;
  bottom: 0;
  color: var(--orange);
  background-color: var(--darkbar);
  width: 100%;
  line-height: var(--line-height);
}

nav#topnav
{
  background-color: var(--darkbar);
  padding: 0 0 0 6px;
}

button.action
{
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: var(--line-height);
  margin: 5px 6px 5px 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  width: var(--button-width);
}

button.action span.hotkey
{
  float: left;
  border-right: 1px solid var(--background);
  background-color: var(--yellow);
  width: 24px;
  border-radius: 4px 0 0 4px;
}

.cancel
{
  background-color: var(--cancel);
  color: var(--navtext);
}

.green
{
  background-color: var(--green);
  color: var(--navtext);
}

section#content div#header
{
  font-size: large;
}

section#content div#header span#title
{
  font-weight: 700;
  color: var(--skyblue);
}

section#content div#header span#description
{

}

section#console span#label
{
  width: var(--button-width);
  display: inline-block;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
}

section#console span#message
{
  color: var(--text);
}

section#console span#message a
{
  color: var(--yellow);
  text-decoration: none;
}

section#console span#message a:hover
{
  text-decoration: underline;
}